@charset "UTF-8";

	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size:100%;
	    vertical-align: baseline;
	    background: transparent;
	}
	.left>div { margin-top:20px; }
	.left {
		width:15%;
		height:100vh;
		background-color:rgb(53,53,53);
		display:inline-block;
		float:left;
		border-right:1px solid lightgray;
	}
	.left>div>a {
		text-decoration:none;
		color:white;
		font-size:14px;
		display:block;
		text-align:left;
		padding:10px 20px;
		cursor:pointer;
	}
	.left a>img { width:15px; height:15px; float:right; margin-top:3px; }
	.left a>span { float:right; font-weight:bold; }
	.left a.click {		
		background-color:rgb(40,40,40);
		font-weight:bold;	
	}
	.left a.noclick {
		background-color:rgb(53,53,53);
		border-bottom:1px solid black;
	}
	.left ul { text-align:left; background-color:rgb(53,53,53); }
	.left .상품, .left .주문  { display:none; }
	.left li { font-size:14px; padding:5px 40px; }
	.left ul a { text-decoration:none; color:white; }
	
	.main {
		background-color:rgb(238,238,238);
		width:85%;
		height:100vh;
		display:inline-block;
		float:left;
	}