@charset "UTF-8";

	.back_div { width:1100px; margin:100px; }
	.table { font-size:14px; text-align:left; }
	.table thead { border-bottom:1px solid; }
	.table tbody { border-bottom:1px solid lightgray; }
	.table th { font-weight:normal; }
	.table img { width:100px; height:100px; vertical-align:middle; }
	.table td { vertical-align:middel; }
	.table button { background-color:rgb(230,55,64); border:none; color:white; }
	
	.back_div>div { display:inline-block; margin-top:30px; }

	.배송정보, .결제수단 { float:left; }
	.배송정보>p, .결제금액>p, .결제수단>p { font-weight:bold; font-size:18px; text-align:left; padding:5px 10px; }
	.배송정보>div, .결제수단>div { 
		border-top:1px solid; border-bottom:1px solid lightgray; 
		border-right:1px solid lightgray; border-left:1px solid lightgray;
	}
	.배송정보>div { width:600px; height:150px; }
	.배송정보>div>button {
		border:1px solid;
		background-color:white;
		float:right;
		margin:15px;
		font-size:14px; padding:10px;
	}
	.배송정보>div>p { text-align:left; margin:30px 30px 0 30px; }
	.배송정보>div>p>span { color:gray; }
	.배송정보>div>select { 
		width:500px; 
		display:inline-block; 
		float:left; 
		margin:10px 30px; 
		border:1px solid lightgray;
		color:gray;
	}
	.배송정보 option { color:black; }
	
	.결제금액 { float:right; }
	.결제금액>div { border:1px solid; width:450px; height:300px; }	
	.결제금액 ul { list-style:none; display:inline-block; }
	.결제금액 ul:first-child { border-bottom:1px solid lightgray; }
	.결제금액 li { margin:20px 10px; font-size:18px; }
	.결제금액 label:first-child { float:left; text-align:left; width:300px; margin-bottom:10px; }
	.결제금액 label:last-child { float:right; text-align:right; margin-bottom:10px; font-weight:bold; }
	.결제금액 button { 
		background-color:rgb(230,55,64); 
		color:white; width:80%; 
		height:60px; border:none;
		margin-top:10px;
	}
	
	.결제수단>div { width:600px; height:300px; }